<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbPWGyErO8hbR6QWiVNKhfeXyylyI56Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>829364451651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selfCheck</string>
	<key>PROJECT_ID</key>
	<string>selfcheck-dev-8634b</string>
	<key>STORAGE_BUCKET</key>
	<string>selfcheck-dev-8634b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829364451651:ios:b8d8ad5d502312f1db17f6</string>
</dict>
</plist>